<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Show</title>
</head>
<body>
    <h1><%= article.headline %> </h1>
    <h2><%= article.topic %> </h2>
    <p>
        <a href="/articles/<%= article._id %>/edit">Edit</a>
    </p>
    <p>
        <form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form> 
    </p>
    <footer>
        <a href="/articles">All Articles</a>
    </footer>
</body>
</html>